body {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #000;
  width: 1240px;
  height: 55px;
  padding: 50px 100px;
  text-align: center;
  color: #fff;
  display: flex;
  font-size: 24px;
}

.socLink div {
  background-color: #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header p,
footer p {
  margin-top: 12px;
}
section {
  width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 380px) {
  section {
    width: 360px;
  }
}
.socLink {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.socLink div {
  width: 50px;
}

.logo {
  margin-right: 16px;
}
main {
  background-color: #000000;
  color: #fff;
}
h1 {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  font-size: 60px;
  font-weight: 600;
  width: 1080px;
}
a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  width: fit-content;
}
.hero {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
}
main p {
  font-size: 16px;

  text-align: center;
  width: 1030px;
  margin: 85px auto;
  margin-bottom: 30px;
}
.section-2 {
  display: flex;
  width: 1240px;
  margin: 100px;

}

.left {
  width: 610px;
  margin-right: 125px;
}
.left p {
  width: 610px;
}
.section-3-1 {
  display: flex;
  flex-direction: column;
  width: 1030px;
  margin: 108px auto;
}
.section-3-1 h2 {
  text-align: center;
  margin-bottom: 30px;
}
.section-3-1 p {
  text-align: center;
  margin: 0 auto;
  width: 1030px;
  margin-bottom: 30px;
}
.section-3-image {
  display: flex;
  width: 1240px;
  margin: 60px auto;
  gap: 20px;
}
.section-4 {
  color: black;
  background-image: url("./images/Rectangle 64.png");
  width: 1026px;
  height: 260px;
  padding: 70px 207px;
}

.section-4 h2 {
  text-align: center;
}
.section-4 p {
  text-align: center;
  width: 1025px;
  margin-top: 30px;
}
.section-4 a {
  color: black;
  border: 2px solid black;
}

@media screen and (max-width: 1200px) {
.left {
    width: 100%;
    margin-right: 0;
  }
  .left p {
    width: 100%;
  }
  header,
  footer {
    width: 340px;
    padding: 50px 10px;
    margin: 0 auto;
  }
  h1 {
    font-size: 36px;
    width: 340px;
  }

  .hero {
    flex-direction: column;
  }
  .hero img {
    width: 340px;
  }
  main p {
    width: 340px;
  }
  .section-2 {
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
  
  }

  .section-2 p {
    width: 352px;
    padding: 4px;
    margin: 0 auto;
  }
  .section-2 h2 {
    width: 360px;
    font-size: 24px;
    margin: 0 auto;
  }
  .section-3-1 {
    width: 360px;
    height: fit-content;
    padding: 30px 0;
  }
  .section-3-1 p {
    width: 352px;
    padding: 4px;
  }

  .section-4 {
    width: 360px;
    height: fit-content;
    background-size: cover;
    padding: 30px 0;
    margin: 0 auto;
  }
  .section-4 p {
    width: 352px;
    padding: 4px;
  }
}
